<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoliu1995.demo.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="User">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="USERNAME" jdbcType="VARCHAR" property="username" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" />
	</resultMap>
	
	<select id="getFirstUser" resultMap="BaseResultMap">
		select id,username,password from demo_user limit 1
	</select>
	
	<select id="getUser" resultType="User">
		select id,username,password from demo_user limit 1
	</select>
</mapper>