<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 second" debug="false">
	<property name="APP_NAME" value="HibernateExample" />
	<contextName>${APP_NAME}</contextName>
	<property name="LOG_HOME" value="E:\\logs\\HibernateExample\\" />
	<property name="defaultMaxFileSize" value="100MB" />
	<property name="defaultMaxHistory" value="30" />
	<property name="defaultCharset" value="UTF-8" />
	
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
			<charset>${defaultCharset}</charset>
		</encoder>
	</appender>
	
    <logger name="com.chaoliu1995.hibernate.example.dao" level="DEBUG" additivity="false">
    	<appender-ref ref="Console" />
    </logger>
	<logger name="org.springframework" level="INFO">
    	<appender-ref ref="Console" />
    </logger>
	<logger name="com.chaoliu1995.hibernate.example" level="INFO">
		<appender-ref ref="Console" />
	</logger>
	<logger name="org.hibernate" level="INFO">
		<appender-ref ref="Console" />
	</logger>
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
		<appender-ref ref="Console" />
	</logger>
	<logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE" additivity="false">
		<appender-ref ref="Console" />
	</logger>
    <root>
    	<level value="INFO" />
    </root>
</configuration>